.bs_outline {
  margin: 0 auto;
  padding: 35px 0 25px;
  max-width: $base-width;
  @include sp {
    padding: 30px 20px;
  }
}
.bs_mold_making {
  &_inner {
    margin: 0 auto;
    padding: 0;
    max-width: $base-width;
    .image_title_wrapper {
      color: #F2F9FF;
      font-size: 160px;
      font-weight: 900;
      left: -13px;
      line-height: 0.85;
      position: relative;
      white-space: nowrap;
    }
    .group_mold {
      background-color: #f1f9ff;
      border-radius: 10px 0 0 10px;
      padding: 94px 50px 42px;
      position: relative;
      &:before {
        background: #f1f9ff;
        content: '';
        display: block;
        height: 100%;
        left: 100%;
        position: absolute;
        top: 0;
        width: 100vw;
      }
      .group_mold_ttl {
        border-bottom: 3px solid #ccc;
        font-size: 30px;
        font-weight: bold;
        line-height: 1.46;
        margin-bottom: 50px;
        padding-bottom: 20px;
        position: relative;
        &:before {
          background: #1F4C9F;
          bottom: -3px;
          content: '';
          display: block;
          height: 3px;
          left: 0;
          position: absolute;
          width: 100px;
        }
      }
      .precision_dies_section {
        margin-bottom: 48px;
        .precision_dies_header {
          border-left: 5px solid #1F4C9F;
          margin-bottom: 30px;
          padding: 10px 0 19px 20px;
          .precision_dies_label {
            color: #1F4C9F;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
          }
          .precision_dies_title {
            font-size: 30px;
            font-weight: bold;
            line-height: 1;
            margin-top: 9px;
          }
        }
    
        .precision_dies_images {
          > div {
            display: flex;
            gap: 0;
            margin-bottom: 30px;
            > figure {
              align-items: center;
              display: flex;
              height: 350px;
              justify-content: center;
              width: 50%;
            }
            .bg_custom_01 {
              background: #E9F6FF;
            }
            .bg_custom_02 {
              background: #FEFCF4;
            }
            .bg_custom_03 {
              background: #F5FFF2;
            }
            .bg_custom_04 {
              background: #FFFCFC;
            }
          }
        }
    
        .precision_dies_description {
          font-size: 16px;
          color: #333;
          line-height: 1.6;
        }
      }
    }
  }
  @include sp {
    &_inner {
      .image_title_wrapper {
        font-size: 50px;
        left: -5px;
      }
      .group_mold {
        padding: 40px 20px 10px;
        .group_mold_ttl {
          font-size: 26px;
          margin-bottom: 30px;
          padding-bottom: 10px;
        }
        .precision_dies_section {
          margin-bottom: 20px; 
          .precision_dies_header {
            border-left: 5px solid #1F4C9F;
            margin-bottom: 30px;
            padding: 5px 0 15px 10px;
            .precision_dies_label {
              font-size: 14px;
            }
            .precision_dies_title {
              font-size: 24px;
              margin-top: 0;
            }
          }
          .precision_dies_images > div {
            flex-wrap: wrap;
            > div {
              height: 200px;
              padding: 20px;
            }
          }
          .precision_dies_description {
            font-size: 12px;
          }
        }
      }
    }
  }
}
.bs_strength {
  margin: 0 auto;
  max-width: $base-width;
  &_inner {
    counter-reset: item-counter;
    padding: 90px 0 130px;
    .bs_str_item {
      padding-bottom: 90px;
      > div {
        display: flex;
        gap: 60px;
        justify-content: start;
        .bs_str_block {
          min-width: 470px;
          padding-top: 100px;
          position: relative;
          &:before {
            color: #EDEDED;
            content: counter(item-counter, decimal-leading-zero);
            counter-increment: item-counter;
            font-family: "Abril Fatface", serif;
            font-size: 200px;
            position: absolute;
            right: 0; 
            top: -86px;
            z-index: -1;
          }
          .bs_str_ttl {
            border-left: 5px solid #1F4C9F;
            font-size: 30px;
            font-weight: bold;
            line-height: 1.5;
            margin-bottom: 50px;
            padding: 5px 0 4px 20px;        
          }
        }
        .bs_str_img {
          img {
            max-width: unset;
          }
        }
      }
      &:nth-child(odd) {
        > div {
          justify-content: end;
        }
        .bs_str_block {
          order: 2;
        }
        .bs_str_img {
          order: 1;
        }
      }
    }
  }
  @include sp {
    padding: 0 20px;
    &_inner {
      padding: 40px 0 90px;
      .bs_str_item {
        padding-bottom: 40px;
        > div {
          flex-wrap: wrap;
          gap: 20px;
          .bs_str_block {
            min-width: unset;
            padding-top: 35px;
            &:before {
              font-size: 120px;
              top: -50px;
            }
            .bs_str_ttl {
              font-size: 22px;
              margin-bottom: 30px;
              padding: 5px 0 4px 10px;        
            }
          }
          .bs_str_img {
            img {
              max-width: 100%;
            }
          }
        }
        &:nth-child(odd) {
          .bs_str_block {
            order: 1;
          }
          .bs_str_img {
            order: 2;
          }
        }
      }
    }
  }
}
