.aboutus {
  margin: 0 auto;
  max-width: $base-width;
  .aboutus_detail {
    background-color: #F1F9FF;
    border-radius: 10px;
    margin: 46px 0 90px;
    padding: 50px 40px 20px;
    .au_detail_item {
      border-bottom: 1px solid #CCC;
      margin-bottom: 50px;
      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
      }
      > div {
        display: flex;
        gap: 50px;
        padding-bottom: 12px;
        vertical-align: top;
        .au_detail_lbl {
          min-width: 238px;
          padding: 10px 10px 10px 50px;
          p {
            display: inline-block;
            font-size: 34px;
            font-weight: 800;
            position: relative;
            top: -19px;
            z-index: 1;
            &:before {
              background: rgba(38, 153, 251, 0.5);
              bottom: 10px;
              content: '';
              height: 15px;
              left: 0;
              right: 1px;
              position: absolute;
              z-index: -1;
            }
          }
        }
        > p {
          font-size: 20px;
          font-weight: 800;
          min-width: 694px;
          padding: 10px 70px 14px 50px;
          line-height: 1.6;
        }
        ul {
          counter-reset: my-counter;
          font-size: 20px;
          font-weight: 800;
          padding: 0 0 14px 49px;
          position: relative;
          top: -10px;
          li {
            position: relative;
            &:before {
              color: #2699FB;
              counter-increment: my-counter;
              content: counter(my-counter, decimal-leading-zero) ". ";
              font-size: 34px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  @include sp {
    margin: 0 20px;
    .aboutus_detail {
      margin-bottom: 50px;
      padding: 20px 15px;
      .au_detail_item {
        margin-bottom: 10px;
        > div {
          display: block;
          .au_detail_lbl {
            min-width: unset;
            padding: 10px;
            p {
              font-size: 28px;
              top: 0;
            }
          }
          > p {
            font-size: 16px;
            min-width: unset;
            padding: 0 0 14px 15px;
          }
          ul {
            font-size: 16px;
            padding-left: 15px;
            top: 0;
            li {
              &:before {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}
.message_section {
  margin: 0 auto 86px;
  max-width: $base-width;
  .mes_lbl {
    background: #222;
    color: #fff;
    display: inline-block;
    font-size: 34px;
    font-weight: bold;
    margin: 3px 0 26px;
    padding: 12px 15px 10px 20px;
  }
  .mes_sign {
    text-align: right;
    padding-top: 33px;
  }
  @include sp {
    margin: 0 20px 50px;
    .mes_lbl {
      font-size: 18px;
      padding: 8px 15px 10px;
    }
    .mes_sign {
      img {
        max-width: 180px;
      }
    }
  }
}
.overview_section {
  margin: 0 auto 90px;
  max-width: $base-width;
  .ov_cnt {
    margin: -7px 0 88px;
    > div {
      > p {
        font-size: 34px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      table {
        border-top: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        width: 100%;
        tr {
          border-bottom: 1px dashed #ccc;
          &:last-child {
            border-bottom: none;
          }
          td {
            padding: 11px 10px 13px 56px;
            &:first-child {
              background: #EEF1F2;
              font-weight: bold;
              width: 232px;
              vertical-align: top;
              padding: 20px 20px 24px 31px;
            }
            .btn {
              background: #1F4C9F url("images/ico/arrow-forward-ico.png") no-repeat center right 15px;
              background-size: 24px auto;
              border-radius: 10px;
              color: #fff;
              display: inline-block;
              margin-bottom: 17px;
              margin-top: 22px;
              min-width: 235px;
              padding: 3px 45px 5px 56px;
              text-decoration: none;
            }
            a[target="_blank"] {
              background: url("images/ico/url-icon-bl.png") no-repeat top 5px right;
              background-size: 18px auto;
              padding-right: 23px;
            }
          }
        }
      }
    }
  }
  @include sp {
    margin: 0 20px 50px;
    .ov_cnt {
      margin: 0 0 40px;
      > div {
        > p {
          font-size: 22px;
          line-height: 1.4;
        }
        table {
          tr {
            td {
              display: block;
              width: 100% !important;
              padding-left: 14px;
              &:first-child {
                padding: 10px 10px 14px;
              }
            }
          }
        }
      }
    }
  }
}
.client_section {
  margin: 0 auto 282px;
  max-width: $base-width;
  .partner_inner {
    width: 100%;
    > div {
      .slick-list {
        align-items: center;
        display: flex;
        height: 100%; 
        overflow: hidden;
      }
      .slick-track {
        align-items: center; 
        display: flex; 
      }
    }
    figure {
      align-items: center;
      display: flex; 
      height: 100%; 
      justify-content: center;
      img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
      }
    }
  }
  @include sp {
    margin: 0 20px 90px;
  }
}
