.hm-problem {
  padding: 80px 0;
  text-align: center;


  &__head {
    max-width: 563px;
    margin: 0 auto;
  }

  &__catch {
    font-family: $sub-font;
    font-size: 18px;
    font-weight: 900;
    color: $txt-color;
    margin-bottom: 10px;
    letter-spacing: 0.5px;

    @include sp {
      font-size: 12px;
    }
  }

  &__title {
    font-family: $txt-font;
    font-size: 48px;
    font-weight: 400;
    color: $txt-color;
    line-height: 1.4;

    span {
      color: #008ECF;
    }

    @include sp {
      font-size: 30px;
    }
  }

  .hm-problem__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    perspective: 1200px;

    @include sp {
      grid-template-columns: repeat(1, 1fr);

    }
  }

  .problem-card {
    position: relative;
    height: 425px;
    border: 3px solid #111111;
    padding: 13px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.4s ease;
    transform-style: preserve-3d;
    margin: 0 auto;
    max-width: 384px;
    width: 100%;

    &__img {
      margin-bottom: 16px;

      img {
        width: 100%;
        max-width: 240px;
        max-height: 240px;
        object-fit: cover;
      }
    }

    &__text {
      p {
        font-size: 20px;
        color: $txt-color;
        margin: 8px 0;
        font-weight: 700;
        line-height: 1.4;
        text-align: center;
        font-family: $sub-font;
      }
    }

    &__order {
      position: absolute;
      top: 43.5%;
      left: -6%;
      width: 56px;
      height: 56px;
      background-color: #FF3B3B;
      color: #111;
      font-size: 32px;
      font-weight: 400;
      font-family: $txt-font;
      border-radius: 20px;
      border: 3px solid #111;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
      z-index: 10;

      @include sp {
        top: 0;
        left: 0px;

        border-radius: 0 0 19.2px 0;
        border: none;
        border-right: 2.88px solid #111111;
        border-bottom: 2.88px solid #111111;
        width: 50px;
        height: 50px;
        font-size: 30.72px;


      }
    }

    &--left {
      transform: rotateY(-25deg) scale(0.928);
      margin-right: -8%;
      z-index: 1;

      .problem-card__order {
        transform: rotateY(77deg) scale(1.13);
      }

      @include sp {
        transform: none;
        margin: 0;

        .problem-card__order {
          transform: none;
        }
      }
    }

    &--center {
      transform: none;
      z-index: 2;
    }

    &--right {
      transform: rotateY(25deg) scale(0.928);
      margin-left: -8%;
      z-index: 1;

      .problem-card__order {
        transform: translateZ(50px) rotateY(-26deg) scale(0.928);
        left: -10%;
      }

      @include sp {
        transform: none;
        margin: 0;

        .problem-card__order {
          transform: none;
          left: 0;
        }
      }
    }
  }


  &__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 995.8px;
    margin: 0 auto;
    margin-top: 60px;
    flex-wrap: wrap;

    &-image {
      img {
        max-width: 100%;
        height: auto;
      }
    }

    &-content {
      text-align: left;
      max-width: 500px;
    }

    &-texts {
      margin-bottom: 12px;

      p {
        font-size: 28px;
        font-weight: 900;
        color: $txt-color;
        font-family: $sub-font;
        line-height: 1.56;
      }
    }

    &-note {
      font-size: 16px;
      color: $txt-color;
      font-weight: 900;
      font-family: $sub-font;
      line-height: 1.56;
    }

    &::after {
      content: "";
      position: absolute;
      top: 142.47px;
      left: -22px;
      width: 995.77px;
      height: 110.75px;
      background-image: url("../imgs/home/Vector 3.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      z-index: -1;
    }

  }
}