// Main Visual Section
.hm_mainvisual {
  position: relative;
  .slick-dots {
    align-items: center;
    bottom: 54px;
    display: flex;
    gap: 5px;
    justify-content: center;
    position: absolute;
    right: 50px;
    li {
      width: auto;
      button {
        background: #ffd85a; 
        border: none;
        border-radius: 50%;
        font-size: 0; 
        height: 10px;
        opacity: .7;
        padding: 0;
        transition: all 0.3s ease;
        width: 90px;
        max-width: 10px;
        &:hover {
          cursor: pointer;
        }
      }
      &.slick-active {
        button {
          border-radius: 25px;
          max-width: 70px; 
          opacity: 1;
        }
      }
    }
    @include sp {
      bottom: 18px;
      right: 20px;
      li {
        button {
          height: 4px;
          max-width: 4px;
        }
        &.slick-active {
          button {
            border-radius: 20px;
            max-width: 28px; 
          }
        }
      }
    }
  }
  .mv_item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100vh;
    position: relative;
    &:before {
      background: rgba(0,78,222,.7);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    @include sp {
      background-size: auto 100%;
      height: 435px;
    }
  }
  .mv_inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    .mv_block {
      margin: 0 auto;
      max-width: $base-width;
      .mv_cnt {
        max-width: 634px;
        color: #fff;
        .mv_ttl {
          line-height: 1.44;
          margin-bottom: 30px;
          font-size: 50px;
          font-weight: bold;
          @include sp {
            font-size: 28px;
            margin-bottom: 17px;
          }
        }
        a {
          background: #FFED7D url(images/ico/arrow-icon-w.png) no-repeat center right 10px;
          background-size: 24px auto;
          border-radius: 10px;
          color: $base-color;
          display: block;
          font-weight: bold;
          margin-top: 66px;
          padding: 18px;
          text-align: center;
          text-decoration: none;
					transition: background-position 0.2s ease-in-out;
          width: 240px;
					&:hover {
						background-position: center right 5px;
					}
          @include sp {
            background-position: center right 5px;
            background-size: 14px auto;
            border-radius: 5px;
            margin-top: 26px;
            padding: 3px 5px;
            width: 150px;
          }
        }
      }
      @include sp {
        margin: 0 20px;
      }
    }
  }
}
// Partner Section
.hm_partner {
  margin-bottom: 28px;
  margin-top: 27px;
  .partner_inner {
    max-width: 1080px;
    margin: 0 auto;
    > div {
      .slick-list {
        align-items: center;
        display: flex;
        height: 100%; 
        overflow: hidden;
      }
      
      .slick-track {
        align-items: center; 
        display: flex; 
      }
    }
    figure {
      align-items: center;
      display: flex; 
      height: 100%; 
      justify-content: center;
      img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
      }
    }
  }
  @include sp {
    margin-bottom: 5px;
    margin-top: 5px;
    .partner_inner {
      margin: 0 20px;
      > div > div {
        padding: 10px 5px;
      }
    }
  }
}
// Who We Are Section
.hm_whoweare {
  &_inner {
    margin: 0 auto;
    padding: 35px 0 101px;
    width: 100%;
    max-width: $base-width;

    .wwa_section_title {
      color: $base-color;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.5;
      margin-bottom: 14px;
      text-align: center;
    }

    .wwa_section_subtitle {
      color: $txt-color;
      font-size: 40px;
      font-weight: bold;
      line-height: 1.5;
      margin-bottom: 58px;
      text-align: center;
      br {
        display: none;
      }
    }

    .wwa_content {
      > div {
        display: flex;
        justify-content: space-between;
        img {
          width: 100%;
        }

        .wwa_description {
          color: $txt-color;
          line-height: 2;
          margin-bottom: 23px;
          margin-top: -3px;
          text-align: justify;
        }
      }

      .wwa_image_wrapper {
        width: 50.85%;
      }

      .wwa_links {
        display: flex;
        flex-wrap: wrap;
        gap: 0 20px;
        justify-content: space-between;
        margin-bottom: 48px;

        li {
          width: calc((100% - 20px) / 2);

          a {
            border-bottom: 1px solid #ccc;
            color: $txt-color;
            display: block;
            font-size: 18px;
            line-height: 1.5;
            padding: 20px 0 20px 25px;
            position: relative;
            text-decoration: none;

            &::before {
              background: url("images/ico/arrow-left-icon.png") no-repeat center;
              background-size: contain;
              content: "";
              display: block;
              height: 20px;
              left: 0;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 20px;
            }
          }
        }
      }

      .wwa_text_wrapper {
        padding-left: 60px;
        width: calc(100% - 50.85%);
      }
    }
    @include sp {
      padding: 35px 20px 85px;
      .wwa_section_title {
        font-size: $txt-size;
        margin-bottom: 5px;
        text-align: left;
      }
      .wwa_section_subtitle {
        font-size: 28px;
        line-height: 1.4;
        margin-bottom: 27px;
        text-align: left;
        br {
          display: block;
        }
      }
      .wwa_content  {
        > div {
          display: block;
          .wwa_image_wrapper {
            width: 100%;
          }
          .wwa_text_wrapper {
            margin-top: 0;
            padding: 26px 0 0;
            width: 100%;
          }
          .wwa_description {
            margin-bottom: 19px;
          }
          .wwa_links {
            display: flex;
            flex-wrap: wrap;
            gap: 0 40px;
            justify-content: space-between;
            margin-bottom: 30px;
    
            li {
              width: calc((100% - 40px) / 2);
    
              a {
                font-size: 12px;
                padding: 12px 0 12px 25px;
    
                &::before {
                  background: url("images/ico/arrow-left-icon.png") no-repeat center;
                  background-size: contain;
                  content: "";
                  display: block;
                  height: 20px;
                  left: 0;
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  width: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.btn a {
  background: $base-color;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.5;
  padding: 18px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 240px;

  &::after {
    background: url("images/ico/arrow-forward-ico.png") no-repeat center;
    background-size: contain;
    content: "";
    display: block;
    height: 24px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
  }
  @include sp {
    display: block;
    margin: 0 auto;
  }
}
// Bussiness Section
.hm_business {
  background: #F1F9FF;

  &_inner {
    margin: 0 auto;
    max-width: $base-width;
    padding: 0 0 100px 0;

    .bsn_toho_wrapper {
      margin-bottom: 30px;
      .bsn_big_txt {
        color: #fff;
        font-size: 160px;
        font-weight: 900;
        line-height: 0.62;
        white-space: nowrap;
      }
      .bsn_small_txt {
        color: $base-color;
        font-size: 20px;
        font-weight: bold;
        line-height: 1;
      }
      @include sp {
        margin-bottom: 20px;
        .bsn_big_txt {
          font-size: 50px;
          line-height: 1;
          left: -20px;
          margin-bottom: 18px;
          position: relative;
        }
        .bsn_small_txt {
          font-size: 16px;
        }
      }
    }

    .wrap_title {
      > div {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;
      }
      .bsn_section_title {
        color: $txt-color;
        font-size: 100px;
        font-weight: 900;
        line-height: 1;
      }
    }

    .bsn_section_subtitle {
      color: $txt-color;
      margin-bottom: 48px;
    }

    .product_molds {
      background-color: #f5faff;

      .product_molds_inner {
        > div {
          align-items: flex-start;
          display: flex;
          gap: 35px;
          justify-content: space-between;
        }

        .mold_item {
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          text-align: center;

          &:nth-child(2) {
            margin-top: 50px;
          }

          &:nth-child(3) {
            margin-top: 100px;
          }

          .mold_image img {
            height: 330px;
            object-fit: cover;
            width: 100%;
          }

          .mold_description {
            background: linear-gradient(to right, #18418D, #2C9EFF);
            color: #fff;
            padding: 56px 30px 58px 30px;
            text-align: left;

            .mold_title {
              font-size: 26px;
              font-weight: 800;
              line-height: 1;
              margin-bottom: 15px;
            }

            .mold_usage {
              line-height: 1.5;
            }
          }
        }
      }
    }
    @include sp {
      margin: 0 20px;
      padding: 0 0 150px 0;
      position: relative;
      .bsn_image_toho_wrapper {
        margin-bottom: 5px;
        padding: 20px 0 50px;
      }

      .wrap_title {
        margin-bottom: 30px;
  
        .bsn_section_title {
          font-size: 40px;
        }
        .detail_btn {
          bottom: 82px;
          left: 50%;
          position: absolute;
          transform: translateX(-50%);
        }
      }
      .bsn_section_subtitle {
        margin-bottom: 30px;
      }
      .product_molds {
        background-color: #f5faff;
  
        .product_molds_inner {
          > div {
            display: block;
          }
          .mold_item {
            width: 100%;
            margin-bottom: 20px;
  
            &:nth-child(2) {
              margin-top: 0;
            }
  
            &:nth-child(3) {
              margin-top: 0;
            }
  
            .mold_image img {
              height: 205px;
              object-fit: cover;
              width: 100%;
            }
  
            .mold_description {
              padding: 30px;
  
              .mold_title {
                font-size: 20px;
                margin-bottom: 5px;
              }
  
              .mold_usage {
                line-height: 1.5;
              }
            }
          }
        }
      }
    }
  }
}
// Value Point Section
.hm_valuepoint {
  background: url('images/home/value-point.png') no-repeat center;
  background-size: cover;

  &_inner {
    color: #fff;
    margin: 0 auto;
    padding: 141px 0 150px 0;
    max-width: $base-width;

    .vlp_section_title {
      color: #FFED7D;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 24px;
    }

    .vlp_section_subtitle {
      color: #FFED7D;
      font-size: 80px;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 48px;

      span {
        color: #fff;
      }
    }

    .vlp_desc {
      line-height: 1.7;
      margin-bottom: 48px;
      text-align: justify;
      width: 100%;
      max-width: 812px;
    }

    .group_valuepoint {
      > div {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
        max-width: 812px;
      }

      .item_valuepoint {
        width: 100%;
        > div {
          align-items: center;
          border: 1px solid #fff;
          border-radius: 10px;
          display: flex;
          gap: 35px;
          justify-content: space-between;
          padding: 24px 20px;
          width: 100%;
        }

        .number {
          font-size: 50px;
          font-weight: bold;
          line-height: 1;
          width: 54px;
        }

        .content {
          font-size: 26px;
          font-weight: bold;
          line-height: 1;
          width: calc(100% - 54px - 35px);
        }
      }
    }

    @include sp {
      margin: 0 20px;
      padding: 90px 0; 
      .vlp_section_title {
        font-size: 1rem;
        margin-bottom: 5px;
      }
      .vlp_section_subtitle {
        font-size: 40px;
        line-height: 1.5;
        margin-bottom: 30px;
      }
      .vlp_desc {
        line-height: 2;
        margin-bottom: 30px;
      }
      .group_valuepoint {
        gap: 15px;
        .item_valuepoint {
          > div {
            gap: 10px;
            padding: 15px;
          }
          .number {
            font-size: 20px;
            width: 24px;
          }
          .content {
            font-size: 20px;
            font-weight: bold;
            width: calc(100% - 20px - 15px);
          }
        }
      }
    }
  }
}

// Production Section
.hm_production {
  background: #F1F9FF;
  padding-bottom: 125px;
  &_inner {
    color: $txt-color;
    margin: 0 auto;
    padding: 85px 0 90px;
    text-align: center;
    max-width: $base-width;

    .prd_info_btn {
      margin: 0 auto 77px;
    }

    .prd_section_subtitle {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 52px;
    }

    .prd_section_title {
      font-size: 100px;
      font-weight: bold;
      line-height: 1.35;
      margin-bottom: 25px;
      text-align: center;
    }

    .prd_top_title {
      color: $base-color;
      font-size: 20px;
      font-weight: bold;
    }

    .group_image_factory {
      > div {
        display: flex;
        gap: 28px;
        justify-content: space-between;
        margin-bottom: 50px;
      }
      .image_factory_wrapper {
        img {
          width: 100%;
        }
      }
    }

    .group_product {
      > div {
        display: flex;
        flex-wrap: wrap;
        gap: 46px 28px;
        justify-content: space-between;
        margin-bottom: 63px;
      }
      .product {
        width: calc((100% - 56px) / 3);

        .image_product_wrapper {
          margin-bottom: 29px;
        }
      }

      p {
        color: $txt-color;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.5;
        text-align: left;

        span {
          display: block;
        }
      }
    }

    .text_wrapper {
      background: #fff;
      border: 1px dashed #ccc;
      color: #606060;
      font-size: 12px;
      line-height: 2.2;
      padding: 27px 50px 33px 50px;
      text-align: justify;
    }

    @include sp {
      margin: 0 20px;
      padding: 60px 0 147px;
      .prd_top_title {
        font-size: 1rem;
      }
      .prd_section_title {
        font-size: 40px;
      }
      .prd_section_subtitle {
        font-size: $txt-size-sp;
        line-height: 2;
        margin-bottom: 38px;
      }
      .group_image_factory {
        > div {
          gap: 20px;
          flex-wrap: wrap;
          margin-bottom: 40px;
        }
      }
      .prd_info_btn {
        margin: 0 auto 53px;
      }
      .group_product {
        > div {
          gap: 22px 15px;
        }
        .product {
          width: calc((100% - 15px) / 2);
          .image_product_wrapper {
            margin-bottom: 12px;
          }
        }
        p {
          font-size: 1rem;
          line-height: 1.5;
        }
      }
      .text_wrapper {
        font-size: 8px;
        line-height: 2.5;
        padding: 20px 17px;
      }
    }
  }
  @include sp {
    padding-bottom: 0;
  }
}
